doctype html
html
  head
    title Node App
    link(rel='stylesheet', href='/css/main.css')

    //TODO: configure to when npm run watch:app enable this and when in production hide it
    //-if reload
    script(src='http://localhost:3001')
        
  body
    block content
